@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --color-primary: #E52421;
  --color-primary-text: #121212;
  --color-fade-text: #12121250;
  --color-secondary: #31006F;
  --color-white: #FFF;
  --color-accent: #FF6670;
  --shadow-box: 0 20px 60px rgba(0, 0, 0, 0.25);
  --color-orbit-dashes: #A1A1AA;
  --color-feature-card-bg:#F4F4F5;
  --color-gradient-features-from: #F2F2F2;
  --color-gradient-features-middle: #FFEDEE;
  --color-gradient-features-to: #FFF0F1;


  --font-sans: "Poppins Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Arial, "Noto Sans";
  --font-serif: "Playfair Display Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  html, body { font-family: var(--font-sans); }
  .swiper-pagination-bullet {
    @apply h-2 w-2 bg-primary-text/25 opacity-100;
  }
  .swiper-pagination-bullet-active {
    @apply bg-primary-text;
  }

  .swiper-pagination-bullet-custom {
    @apply h-2 w-2 bg-primary-text/25 opacity-100 rounded-full cursor-pointer transition-colors duration-200;
  }
  .swiper-pagination-bullet-active-custom {
    @apply bg-primary-text;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-pagination {
    display: none !important;
  }
}

@layer components {
  .btn { @apply px-4 py-2 rounded font-medium transition-colors; }
  .btn-primary {
    background-color: var(--color-primary);
    color: white;
  }
  .btn-primary:hover {
    background-color: color-mix(in oklab, var(--color-primary) 85%, black);
  }
  .input { @apply px-3 py-2 border border-gray-300 rounded outline-none; }
  .input:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}
